[hub]
	protocol = https
[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
	helper = osxkeychain
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[apply]
	whitespace = nowarn
[mergetool]
	keepBackup = false
[difftool]
	prompt = false
[help]
	autocorrect = 1
[push]
	default = simple
