[hub]
	protocol = https
[user]
	name = AUTHORNAME
	email = AUTHOREMAIL
[credential]
	helper = GIT_CREDENTIAL_HELPER
[color]
	diff = auto
	status = auto
	branch = auto
	ui = true
[core]
	excludesfile = ~/.gitignore
  editor = vim
[apply]
	whitespace = nowarn
[mergetool]
	keepBackup = false
[difftool]
	prompt = false
[help]
	autocorrect = 1
[push]
	default = simple
